.bg_img{
    background: url("../../assets/images/scandinavian-interior-mockup-wall-decal-background\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}