@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(./font/Montserrat-ExtraLight.ttf) format('woff2');
      }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(./font/Montserrat-Light.ttf) format('woff2');
      }
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./font/Montserrat-Regular.ttf) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./font/Montserrat-SemiBold.ttf) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./font/Montserrat-Bold.ttf) format('woff2');
    }
  }
  